header {
    display: flex;
    justify-content: center;
}
.inner-header {
    width: 95%;
    background: gray;
    display: flex;
    justify-content: flex-end;
}
.sign-in, .register {
    cursor: pointer;
}
.login-options {
    display: flex;
    justify-content: space-between;
}
.login-options .register {
    margin-left: 30px;
}